# Exemplo. O inventory.ini real é GERADO pelo Terraform (Extra 2).
# Se preferir fazer manualmente, copie para inventory.ini e troque os IPs.

[control_plane]
k8s-control-plane ansible_host=54.x.x.x private_ip=10.0.1.10 public_ip=54.x.x.x

[workers]
k8s-worker-1 ansible_host=54.x.x.x private_ip=10.0.2.10 public_ip=54.x.x.x
k8s-worker-2 ansible_host=54.x.x.x private_ip=10.0.2.11 public_ip=54.x.x.x

[k8s_cluster:children]
control_plane
workers

[k8s_cluster:vars]
ansible_user=ubuntu
ansible_ssh_private_key_file=../keys/k8s-lab-key.pem
control_plane_endpoint=10.0.1.10
ansible_ssh_common_args='-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null'
